<a href="/answer_question/{{cat}}/{{num}}"  class="question catQuestion">
    <div class="question-content">
        <div class="question-text">
            <h3>{{text}}</h3>
        </div>
        <div class="question-author">
            <p>{{author}}</p>
        </div>
        {{#each choices}}
          {{> categoryQListAnswer}}
        {{/each}}
    </div>
</a>
