<div class="question-container">
    <div class="question">
        <p>{{question}}</p>
    </div>
    <div class="author">
        <p>{{author}}</p>
    </div>
    <div class="answer">
        <p>{{choices[0].option}}</p>
    </div>
    <div class="answer">
        <p>{{choices[1].option}}</p>
    </div>
</div>
