<div class="question-container">
    <div class="question">
        <p>{{question}}</p>
    </div>
    <div class="author">
        <p>{{author}}</p>
    </div>
    <div class="answer">
        <p>{{option1}}</p>
    </div>
    <div class="answer">
        <p>{{option2}}</p>
    </div>
</div>
