<div class="question-container">
    <div class="question">
        <a href="/answer_question/{{cat}}/{{num}}">{{text}}</a>
    </div>
    {{#each choices}}
        {{>categoryQListOption}}
    {{/each}}
    <div class="author">
        <p>{{author}}</p>
    </div>
</div>
