<a href="/answer_question/{{cat}}/{{num}}"  class="question catQuestion">
    <div class="question-content">
        <div class="question-text">
            <h3>{{questions.text}}</h3>
        </div>
        <div class="question-author">
            <p>{{questions.author}}</p>
        </div>
        {{#each questions.choices}}
          {{> categoryQListAnswer}}
        {{/each}}
    </div>
</a>
