<footer>
   <div class="footer">
     <a href="https://www.facebook.com" class="fab fa-facebook-square"></a>
     <a href="https://www.twitter.com" class="fab fa-twitter"></a>
     <a href="https://www.instagram.com" class="fab fa-instagram"></a>
   </div>
</footer>
