<header>
  <div>
     <h1 class="site-title">POLLS</h1>
      <div class="loginContainer">
          <div class="loginInfo">
            <input type="text" id="login-username" placeholder="Username..."></li>
          </div>
          <div class="loginInfo">
            <input type="text" id="login-password" placeholder="Password..."></li>
          </div>
      </div>
   </div>
   <div>
      <nav class="nav-bar">
        <ul class="nav-list">
           <li class="nav-item"><i class="bars-icon fa fa-bars"></i></li>
           <li class="nav-item active"><a href="/">Home</a></li>
           <li class="nav-item"><a href="/create_question">Ask a Question</a></li>
<!--           <li class="nav-item"><a href="/answer_question">Answer a Question</a></li>-->
           <li class="nav-item"><a href="/categories">Categories</a></li>
           <li class="nav-item"><a href="/stats/Brian">Stats</a/></li>

<!--                  <div class="nav-item nav-drop">
              <button class="nav-item nav-drop-button">Categories</button>
                <div class="nav-item nav-drop-down-content">
                <a href="#">Sports</a>
                  <a href="#">Politics</a>
                  <a href="#">Food</a>
                  <a href="#">Movies & TV</a>
                  <a href="#">Would You Rather</a>
                  <a href="#">Lifestyle</a>
                  <a href="#">MISC</a>-->
                </div>
           </div>
           <li class="nav-item nav-log"><a href="#">Login</a></li>
         </ul>
       </nav>
    </div>
  </header>
