  <article class="question homepageQuestion">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
        <textarea class="HPQuestionID hidden" >{{_id}}</textarea>
        <textarea class="HPQuestionName hidden">{{name}}</textarea>
        <p class="question-text">
            <h3>{{questions.text}}</h3>
        </p>
        <p class="question-author">
            <a href="javascript:void(0);">{{questions.author}}</a>
        </p>
        <div class="home-answers-container">
          {{#each questions.choices}}
          {{> homeAnswer}}
          {{/each}}
        </div>
        <div class="homeQuestionFiller">
          {{#each questions.choices}}
             {{> homepageQuestionStat}}
          {{/each}}
        </div>
    </div>
  </article>
