  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        {{text}}
      </p>
      <p class="question-author">
        <a href="#">{{author}}</a>
      </p>
       <div class="question-dice answer-one-icon">
         <a href="#">{{answerOne}}<i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">{{answerTwo}}<i class="fas fa-dice-two"></i></a>
      </div>
   </div>
  </article>
