<div class="question-dice answer-one-icon">
  <div type="button" class="answer-choice-event-button">{{option}}<i class="fas fa-dice-one"></i></div>
  <div class="answer-stats-box">
      <p>{{num}}</p>
  </div>
</div>
