  <article class="question homepageQuestion">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
        <p class="question-text">
            <h3>{{text}}</h3>
        </p>
        <p class="question-author">
            <a href="#">{{author}}</a>
        </p>
        {{#each choices}}
        {{> homeAnswer}}
        {{/each}}
    </div>
  </article>

    <article class="question homeQuestionFiller hidden">
        <p>Thank you for your Response</p>
    </article>