<main class="home-container">

  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        Would you rather spend the rest of your life with a sailboat as your home or an RV as your home?
      </p>
      <p class="question-author">
        <a href="#">Jerry</a>
      </p>
       <div class="question-dice answer-one-icon">
         <a href="#">Answer One <i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">Answer Two <i class="fas fa-dice-two"></i></a>
      </div>
   </div>
  </article>

  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        Cake or pie?
      </p>
      <p class="question-author">
        <a href="#">Shakespeare(...I think)</a>
      </p>
      <div class="question-dice answer-one-icon">
        <a href="#">Answer One <i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">Answer Two <i class="fas fa-dice-two"></i></a>
      </div>
    </div>
  </article>

  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        Would you rather your only mode of transportation be a donkey or a giraffe?
      </p>
      <p class="question-author">
        <a href="#">Charles</a>
      </p>
      <div class="question-dice answer-one-icon">
        <a href="#">Answer One <i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">Answer Two <i class="fas fa-dice-two"></i></a>
      </div>
    </div>
  </article>

  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        Would you rather have a unicorn as a pet or be a unicorn?
      </p>
      <p class="question-author">
        <a href="#">Gerald</a>
      </p>
      <div class="question-dice answer-one-icon">
        <a href="#">Answer One <i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">Answer Two <i class="fas fa-dice-two"></i></a>
      </div>
    </div>
  </article>

  <article class="question">
    <div class="question-icon">
      <i class="far fa-question-circle"></i>
    </div>
    <div class="question-content">
      <p class="question-text">
        Who's better? 1995-1996 Chicago Bulls, or 1986-87 Los Angeles Lakers?
      </p>
      <p class="question-author">
        <a href="#">Micheal</a>
      </p>
      <div class="question-dice answer-one-icon">
        <a href="#">Answer One <i class="fas fa-dice-one"></i></a>
      </div>
      <div class="question-dice answer-two-icon">
        <a href="#">Answer Two <i class="fas fa-dice-two"></i></a>
      </div>
    </div>
  </article>
</main>
