<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Answer Questions</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="answerQuestions.css" media="screen">

    <script src="answerQuestions.js" charset="utf-8" defer></script>
</head>

<body>
  <article class="top-bar">
    <div class="questionBox">
      <p>{Question}</p>
    </div>
    <div class="return-button-container">
      <a href="categories.html" class="return-to-category-button">Return to List</a>
    </div>
  </article>
  <main class="answerContainer">
    <button type="button" class="answer-choice-button">{Ans1}</button>
    <button type="button" class="answer-choice-button">{Ans2}</button>
    <div class="answer-stats-box">
      <div class="answer-choice-name">
        <p>{Ans1}</p>
      </div>
      <div class="percentage">
        <p>{Ans1%}</p>
      </div>
    </div>
    <div class="answer-stats-box">
      <div class="answer-choice-name">
        <p>{Ans2}</p>
      </div>
      <div class="percentage">
        <p>{Ans2%}</p>
      </div>
    </div>
    <button type="button" class="dont-answer-button">I prefer not to answer. Next Question.</button>
  </main>
</body>
</html>
