<article class="top-bar">
  <div class="questionBox">
    <p>{{text}}</p>
  </div>
</article>
<main class="answerContainer answer-event-box">
  {{#each choices}}
    {{> answerButton}}
  {{/each}}
  {{#each choices}}
    {{> answerStatsBox}}
  {{/each}}
  <a href="/answer_question/{{cat}}/{{num}}" class="dont-answer-button">I prefer not to answer. Next Question.</a>
  <div class="return-button-container">
    <a href="/answer_question/{{cat}}" class="return-to-category-button">Return to List</a>
  </div>
</main>
