<main class="cat-container">
        <a href="/answer_question/sports" id="category-button" class='sports-button'>
            
                    <div class="category-name">
                        <p>Sports</p>
                    </div>
                
            
        </a>

        <a href="/answer_question/politics" id="category-button" class="politics-button">
                    <div class="category-name">
                        <p>Politics</p>
                    </div>
            
        </a>
        <a href="/answer_question/food" id="category-button" class="food-button">
                
                    <div class="category-name">
                        <p>Food</p>
                    </div>
            
            
        </a>

        <a href="/answer_question/media" id="category-button" class="media-button">
                
                    <div class="category-name">
                        <p>Movies & TV</p>
                    </div>      
           
        </a>

        <a href="/answer_question/wyr" id="category-button" class="wyr-button">
           
                    <div class="category-name">
                        <p>Would You Rather?</p>
                    </div>
                
        </a>

        <a href="/answer_question/lifestyle" id="category-button" class="lifestyle-button">
             
                    <div class="category-name">
                        <p>Lifestyle</p>
                    </div>
            
        </a>

        <a href="/answer_question/misc" id="category-button" class="misc-button">
              
                    <div class="category-name">
                        <p>MISC</p>
                    </div>
          
            

        </a>
</main>


