    <main class="home-container">
        <div class="category-title">
            <p>{{name}}</p>
        </div>
        {{#each questions}}
            {{>categoryQListEntry}}
        {{/each}}


    </main>