<main class="cat-container">
  <button type="button" id="category-button" class='sports-button'>	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/sports">Sports</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="politics-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/politics">Politics</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="food-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/food">Food</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="media-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/media">Movies & TV</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="wyr-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/wyr">Would You Rather?</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="lifestyle-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/lifestyle">Lifestyle</a>	
    </p>
   </article>
  </button>

  <button type="button" id="category-button" class="misc-button">	
   <article class="category">
    <p class="category-name">
    <a href = "/answer_question/misc">MISC</a>	
    </p>
   </article>
  </button>
</main>


