            <div class="contentContainer">
                <div class="contentHeader">
                    <p>Create a New Question</p>
                </div>
                <div class="newQuestionContainter">
                    <div class="textContainer">
                        <label for="newQuestionText">Your Question</label>
                        <textarea id="newQuestionText"></textarea>
                    </div>

                    <div class="textContainer">
                        <label for="newQuestionFirstAnswer">Answer 1</label>
                        <textarea id="newQuestionFirstAnswer"></textarea>
                    </div>
                    <div class="textContainer">
                        <label for="newQuestionSecondAnswer">Answer 2</label>
                        <textarea id="newQuestionSecondAnswer"></textarea>
                    </div>


                    <div class="textFooter">
                        <div class="textBottom textContainer">
                            <label for="newQuestionAuthor">Your Name</label>
                            <textarea id="newQuestionAuthor"></textarea>
                        </div>
                            <button type="button" id="postQuestionButton">Post Question</button>
                    </div>
                </div>
            </div>