<div class="contentContainer">
    <div class="contentHeader">
        <p>Create a New Question</p>
    </div>
    <div class="newQuestionContainter">
        <div class="textContainer">
            <textarea id="newQuestionText" placeholder="Enter your question here..."></textarea>
        </div>
        <div class="textContainer">
            <textarea id="newQuestionFirstAnswer" placeholder="Enter the first response..."></textarea>
        </div>
        <div class="textContainer">
            <textarea id="newQuestionSecondAnswer" placeholder="Enter the second response..."></textarea>
        </div>

        <div class="textFooter">
            <div class="textBottom textContainer">
                <textarea id="newQuestionAuthor" placeholder="Enter your name..."></textarea>
            </div>
            <button type="button" id="postQuestionButton">Post Question</button>
        </div>
    </div>
</div>