<div class="home-container">
    <div class="create-container">
        <div class="contentHeader question">
            <p>Create a New Question</p>
        </div>
        <div class="newQuestionContainter">
            <div class="quest">
                <textarea id="newQuestionQues" class="question text-input" placeholder="Enter your question here..."></textarea>
            </div>
            <div class="responses-container">
              <div class="textContainer">
                  <textarea id="newQuestionRes" class="question text-input" placeholder="Enter your response..."></textarea>
              </div>
              <div class="textContainer">
                  <textarea id="newQuestionRes" class="question text-input" placeholder="Enter your second response..."></textarea>
              </div>
            </div>
            <button type="button" id="askQuestionButton" class="add-answer-choice-button">Add Another Answer Choice</button>
            <div class="textContainer">
                <select id="newQuestionCategory">
                    <option selected>Sports</option>
                    <option>Politics</option>
                    <option>Food</option>
                    <option>Movies & TV</option>
                    <option>Would You Rather?</option>
                    <option>Lifestyle</option>
                    <option>Misc</option>
                </select>
            </div>

            <div>
                <div>
                    <textarea id="newQuestionAuth" class="question" placeholder="Enter your name..."></textarea>
                </div>
                <button type="button" id="askQuestionButton" class="postQuestionButton">Post Question</button>
            </div>
        </div>
    </div>
</div>
