<main class="home-container answer-event-box">
    {{#each qArray}}
        {{>homeQuestion}}
	<div class="HPQuestionID">{{_id}}</div>
    {{/each}}
    {{#each qArrayNum}}
        <div class="HPQuestionLength">{{len}}</div>
    {{/each}}
    {{#each qArray}}
	<div class="HPQuestionName">{{name}}</div>
    {{/each}}
</main>
