<main class="home-container answer-event-box">
    {{#each qArray}}
        {{>homeQuestion}}
    {{/each}}
    {{#each qArrayNum}}
        <div class="HPQuestionLength">{{len}}</div>
    {{/each}}
</main>
