    <main class="home-container">
        <div class="category-title">
            <p>{{category-name}}</p>
        </div>
        {{#each questions}}
            {{>category-list-question}}
        {{/each}}


    </main>