body {
   font-family: sans-serif;
}
.site-title {
   font-size: 50px;
   color: white;
   border: 2px solid black;
   background-color: rgb(138,22,134);
   min-height: 80px;
   margin: 0;
   padding: 5px 20px 5px 20px;
   border-radius: 4px
}
.loginContainer {
   position: absolute;
   right: 20px;
   top: 20px;
   font-size: 12px;
}
.loginInfo {
   display: block;
   border: 1px solid black;
   border-radius: 3px;
   margin: 2px;
   padding: 1px;
   background-color: white;
}
input#login-username {
   border: none;
}
input#login-password {
   border: none;
}
.nav-list {
   margin: 0;
   padding: 10px;
}
.nav-bar {
   min-height: 20px;
   background-color: rgb(220,220,220);
   border-radius: 4px;
}/*
.nav-bar {
   margin: 0;
   min-height: 28px;
   padding-top: 3px;
   padding-right: 10px;
   padding-left: 20px;
   border-bottom: 1px solid rgb(40,40,40);
   background-color: rgb(220,220,220);
   font-size: 16px;
}*/
.nav-item {
/*   display: inline-block;
   padding-top: 4px;
   padding-right: 10px;
   padding-left: 10px;
   height 24px;
   vertical-align: text-top;*/
   color: white;
   font: 16px;
   display: inline-block;
   padding: 5px;
   min-height: 24px;
}
a {
  text-decoration: none;
  color: black;
/*
  font-size: 20px;
  text-decoration: none;
  color: white;*/
}
.nav-item.nav-drop {
   position: relative;
   display: inline-block;
}
.nav-item.nav-drop-button {
   color: black;
   font-size: 16px;
   border: none;
}
.nav-item.nav-drop-down-content {
   display: none;
   position: absolute;
   background-color: rgb(220,220,220);
/*   background-color: rgb(187,22,100);*/
   min-width: 160px;
}
.nav-item.nav-drop-down-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.nav-item.nav-drop-down-content a:hover {
   background-color: rgb(138,22,100);
}

.nav-drop:hover .nav-drop-down-content {
   display: block;
}

.nav-drop:hover .nav-drop-button {
   background-color: rgb(220,220,220);
/*   background-color: rgb(138,22,100);*/
}
.nav-item.nav-log {
   position: absolute;
   top: 70px;
   right: 20px;
}
.nav-item.nav-log a {
   color: white;
}
.home-container {
   margin: 0px;
   border: 2px solid black;
   border-radius: 4px;
   display: flex;
   flex-wrap: wrap;
   min-height: 24px;
   background-color: white;/*rgb(138,22,100);*/
   padding: 30px;
}
.question {
   flex: 1 32%;
   margin: 5px;
   padding: 20px;
   border: 5px solid rgb(138,22,100);
   border-radius: 4px;
   background-color: white;
}
.queston-content {
   flex: 1 1 80%;
   margin-left: 10px;
}
.question-author {
   margin-top: 8px;
   text-align: right;
   font-weight: bold;
}
.question-author a {
   color: black;
   font-size: 16px;
}
.question-dice {
   display: flex;
   flex-wrap: wrap;
   float: left;
   padding: 10px;
}
.answer-one-icon a {
   color: #ff9933;
   font-size: 20px;
}
.answer-two-icon a {
   color: #cc00ff;
   font-size: 20px;
}
div.footer {
   height: 40px;
   font-size: 30px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(138,22,100);
   text-align: center;
   border: 2px solid black;
}
a.fab.fa-facebook-square {
   padding: 5px;
   color: white;
}
a.fab.fa-twitter {
   color: white;
}
a.fab.fa-instagram {
   color: white;
}
a.fab.fa-facebook-square:hover {
   transform: scale(1.5);
}
a.fab.fa-twitter:hover {
   transform: scale(1.5);
}
a.fab.fa-instagram:hover {
   transform: scale(1.5);
}

/*Create-Question*/
textarea{
    resize: none;
    font-family: sans-serif;
    color: black;
}

.create-container{
    text-align: center;
    width: 100%;
}
.contentHeader {
    font-size: 48px;
    color: white;
    border: 3px solid black;
    background-color: rgb(138,22,134);
    text-align: center;
}

.catQLink:hover{
    color: purple;
}

.text-input{
    width: 70%;
}

#postQuestionButton {
    color: white;
    font-size: 18px;
    height: 38px;
    min-width: 20%;
    background-color: rgb(138,22,100);
    margin-bottom: 10px;
}

/*Stats Pages*/

.stats-page-container{
  display: flex;
  justify-content: center;
}

.question-stats-container{
  flex: 0 0 20%;
}

.hidden{
  display: none;
}

/*Question Answer Pages*/
.top-bar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 30px;
}

.questionBox{
/*  background-color: black;*/
  color: black;
  display: flex;
  justify-content: center;

  font-size: 130%;
  min-width: 75%;
  margin-left: 13%;
}

.return-button-container{
  display: inline;
  background-color: darkgrey;
  max-width: 20%;
  color: white;
  justify-content: center;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 80%;
}

.return-button-container:hover{
  cursor: pointer;
  background-color: #383838;
}

.return-to-category-button{
  display: flex;
  text-align: center;
}

.answerContainer{
  /*background-color: black;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 600px;
  padding: 5px 0 5px 0;
}

.answer-choice-button{
  background-color: rgb(204, 0, 255);
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 40%;
  min-height: 100px;
  margin: 3px;
  font-size: 200%;
}

.answer-stats-box{
  background-color: rgb(204, 0, 255);
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 40%;
  min-height: 100px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answer-choice-name{
  font-size: 150%;
  display: flex;
  justify-content: center;
}

.percentage{
  font-size: 500%;
}

.answer-choice-button:hover {
  cursor: pointer;
  background-color: #e066ff;
}

.orangeChoice{
  background-color: rgb(255, 153, 51);
}

.orangeChoice:hover {
  background-color: #ff8000;
}

.orangeStat{
  background-color: rgb(255, 153, 51);
}

.dont-answer-button{
  background-color: black;
  margin: 1px 10px 1px 10px;
  width: 81%;
  justify-content: center;
  min-height: 10%;
  max-height: 20%;
  border-radius: 10px;
  font-size: 200%;
  color: white;
}

.dont-answer-button:hover {
  cursor: pointer;
  background-color: darkgrey;
}

/*Categories Page*/

#category-button {
    border: 2px solid;
    border-radius: 100%;
    background-color: rgb(138,22,134);
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    color: white;
}

#category-button:hover {
        background-color: #6E9CD4;
        color: white;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    min-height: 500px;
}