body {
   font-family: sans-serif;
}
.site-title {
   font-size: 50px;
   color: white;
   border: 2px solid black;
   background-color: rgb(138,22,134);
   min-height: 80px;
   margin: 0;
   padding: 5px 20px 5px 20px;
   border-radius: 4px
}
/*
.loginContainer {
 position: absolute;
   right: 20px;
   top: 20px;
   font-size: 12px;
}
.loginInfo {
   display: block;
   border: 1px solid black;
   border-radius: 3px;
   margin: 2px;
   padding: 1px;
   background-color: white;
}*/
input#login-username {
   border: none;
}
input#login-password {
   border: none;
}
.nav-list {
   margin: 0;
   padding: 10px 10px 15px 10px;
}
.nav-bar {
/**/
  overflow: hidden;
/**/
   min-height: 20px;
   background-color: rgb(220,220,220);
   border-radius: 4px;
}
/*.nav-bar li.active {
  border-bottom: 3px solid rgb(138,22,134);
}*/

.nav-item {
   color: white;
   font: 16px;
   display: inline-block;
   padding: 5px;
   min-height: 24px;
}
/**/
.nav-bar a {
  border-bottom-color: rgb(138,22,134)
  color: white;
}

/**/
a {
  text-decoration: none;
  color: black;
}
.nav-item.nav-drop {
   position: relative;
   display: inline-block;
}
.nav-item.nav-drop-button {
   color: black;
   font-size: 16px;
   border: none;
}
.nav-item.nav-drop-down-content {
   display: none;
   position: absolute;
   background-color: rgb(220,220,220);
/*   background-color: rgb(187,22,100);*/
   min-width: 160px;
}
.nav-item.nav-drop-down-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.nav-item.nav-drop-down-content a:hover {
   background-color: rgb(138,22,100);
}

.nav-drop:hover .nav-drop-down-content {
   display: block;
}

.nav-drop:hover .nav-drop-button {
   background-color: rgb(220,220,220);
/*   background-color: rgb(138,22,100);*/
}
.nav-item.nav-log {
   position: absolute;
   top: 70px;
   right: 17px;
}
/* moved to @media for screen changes
.nav-item.nav-log a {
   color: white;
}
*/
.bars-icon{
  color: rgb(138,22,134);
  font-size: 200%;
}

.home-container {
   margin: 0px;
   border: 2px solid black;
   border-radius: 4px;
   display: flex;
   flex-wrap: wrap;
   min-height: 24px;
   background-color: white;/*rgb(138,22,100);*/
   padding: 30px;
   font-size: 14px;
}
.question {
   flex: 1 30%;
   margin: 5px;
   padding: 20px;
   border: 5px solid rgb(138,22,100);
   border-radius: 4px;
   background-color: white;
}
.queston-content {
   flex: 1 1 80%;
   margin-left: 10px;
}
.question-author {
   margin-top: 8px;
   text-align: right;
   font-weight: bold;
}
.question-author a {
   color: black;
   font-size: 16px;
}
.question-dice {
  /* display: flex;
   flex-wrap: wrap;
   padding-left: 10px;*/
}
.answer-one-icon a {
   color: black;
   font-size: 14px;
   font-weight: 700;
}
.answer-one-icon p {
  margin: 0px;
  font-size: 22px;
  font-weight: normal;
}
.fas.fa-dice-one {
  padding-left: 5px;
  padding-right: 5px;
}
.fas.fa-dice-two {
  padding-left: 5px;
  padding-right: 5px;
}
.fas.fa-dice-three {
  padding-left: 5px;
  padding-right: 5px;
}
.fas.fa-dice-four {
  padding-left: 5px;
  padding-right: 5px;
}
.answer-two-icon a {
  color: black;
  font-size: 14px;
  font-weight: 700;
}
.answer-two-icon p {
  margin: 0px;
}
div.footer {
   height: 40px;
   font-size: 30px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(138,22,100);
   text-align: center;
   border: 2px solid black;
}
a.fab.fa-facebook-square {
   padding: 5px;
   color: white;
}
a.fab.fa-twitter {
   color: white;
}
a.fab.fa-instagram {
   color: white;
}
a.fab.fa-facebook-square:hover {
   transform: scale(1.5);
}
a.fab.fa-twitter:hover {
   transform: scale(1.5);
}
a.fab.fa-instagram:hover {
   transform: scale(1.5);
}

/*Create-Question*/
textarea{
    resize: none;
    font-family: sans-serif;
    color: black;
}

.create-container{
    text-align: center;
    width: 100%;
}
.contentHeader {
    font-size: 48px;
    color: white;
    border: 3px solid black;
    background-color: rgb(138,22,134);
    text-align: center;
}

.catQLink:hover{
    color: purple;
}

.text-input{
    width: 70%;
}

#askQuestionButton {
    color: white;
    font-size: 18px;
    height: 38px;
    min-width: 20%;
    background-color: rgb(138,22,100);
    margin-bottom: 10px;
}

#askQuestionButton:hover {
    cursor: pointer;
    background-color: rgb(220,20,60);
}

#newQuestionCategory {
    margin: auto;
    padding: 2px;
    border: 5px solid rgb(138,22,100);
    border-radius: 4px;
    background-color: white;
    width: 20%;
    font-size: 24px;
    min-width: 196px;
}

.catQuestion{
    max-width: 100%;
}

.answer-one-icon {
    color: black;
    font-size: 22px;
    border-radius: 4px;
    background-color: #ff9933;
    margin: 0px;
    font-weight: 700;
    width: 100%;

}

.answer-two-icon {
    color: black;
    font-size: 16px;
    font-weight: 700;
    background-color: #cc00ff;
    border-radius: 4px;
    font-size: 22px;
    width: 100%;
}

/*Stats Pages*/

.stats-page-container{
  display: flex;
  justify-content: center;
}

.question-stats-container{
  flex: 0 0 20%;
}

.hidden{
  display: none;
}

/*Question Answer Pages*/
.top-bar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.questionBox{
/*  background-color: black;*/
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  min-width: 75%;
  margin-right: 5%;
  margin-left: 10%
}

.return-button-container{
  background-color: black;
  margin: 1px 10px 1px 10px;
  width: 81%;
  justify-content: center;
  min-height: 10%;
  max-height: 20%;
  border-radius: 10px;
  font-size: 200%;
  color: white;
  padding-left: 10px;
  /*
  display: inline;
  background-color: darkgrey;
  max-width: 20%;
  color: white;
  justify-content: center;
  border-radius: 2px;
  */
}

.return-button-container:hover{
  cursor: pointer;
  background-color: darkgrey;
  color: white;
}
.return-to-category-button{
  display: flex;
  text-align: center;
  color: white;
}
a.return-to-category-button:hover{
  color: white;
}
.answerContainer{
  /*background-color: black;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5px 0 5px 0;
}

.answer-choice-button{
  background-image: radial-gradient(rgb(204, 0, 255), rgb(219, 75, 255) );
  /*background-color: rgb(204, 0, 255);*/
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 40%;
  height: 150px;
  margin: 3px;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100px;
}

.answer-stats-box{
/*  background-color: rgb(204, 0, 255); */
  background-image: radial-gradient(rgb(204, 0, 255), rgb(219, 75, 255) );
  border: 1px solid black;
  border-radius: 10px;
  flex-basis: 40%;
  height: 150px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  min-width: 100px;
}

.answer-choice-name{
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.percentage{
  font-size: 32px;
  margin: 5px;
}

.answer-choice-button:hover {
  cursor: pointer;
  background-image: radial-gradient(#e066ff, #E57FFF);
  /*
  background-color: #e066ff;*/
}

.orangeChoice{
  background-image: radial-gradient(rgb(255, 153, 51), #FFA44B);
  /*background-color: rgb(255, 153, 51);
  font-size: 22px;
  font-weight: normal;
  border-radius: 4px;
  */
}

.orangeChoice:hover {
  background-image: radial-gradient(#ff8000, #FF8B19);
/*  background-color: #ff8000;*/
}

.orangeStat{
  background-image: radial-gradient(rgb(255, 153, 51), #FFA44B);
  /*
  background-color: rgb(255, 153, 51);*/
}

.dont-answer-button{
  background-color: black;
  margin: 1px 10px 1px 10px;
  width: 81%;
  justify-content: center;
  min-height: 10%;
  max-height: 20%;
  border-radius: 10px;
  font-size: 200%;
  color: white;
  padding-left: 10px;
}

.dont-answer-button:hover {
  cursor: pointer;
  background-color: darkgrey;
}

/*Categories Page*/

#category-button {
    border: 2px solid;
    border-radius: 100%;
    background-color: rgb(138,22,134);
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    color: white;
    text-align: center;
}

#category-button:hover {
        background-color: #6E9CD4;
        color: white;
}

.category-name{
   padding-top: 25px;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    min-height: 500px;
}
.nav-bar .bars-icon {
  display: none;
}

@media (max-width: 600px){
  .nav-list li:not(:first-child) {
    display: none;
  }
  .nav-bar .bars-icon {
    float: left;
    display: block;
  }
  .nav-list.responsive {
    position: relative;
  }
  .nav-list.responsive li.bars-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-list.responsive li {
    float: none;
    display: block;
    text-align: center;
    border-bottom: none;
  }
}
div.loginContainer {
 position: absolute;
   right: 20px;
   top: 20px;
   font-size: 12px;
}
.loginInfo {
   display: block;
   border: 1px solid black;
   border-radius: 3px;
   margin: 2px;
   padding: 1px;
   background-color: white;
}
.nav-item.nav-log a {
   color: white;
}
@media (max-width: 600px) {
  div.loginContainer {
    display: contents;
    position: absolute;
     right: 20px;
     top: 20px;
     font-size: 12px;
  }
  .loginInfo {
     display: block;
     border: 1px solid black;
     border-radius: 3px;
     margin: 2px;
     padding: 1px;
     background-color: white;
  }
  .nav-item.nav-log a {
    position: relative;
    top: 100px;
    background-color: rgb(138,22,134);
    box-shadow: 2px 2px darkgrey;
    border: 2px solid rgb(138,22,134);
    border-radius: 4px;
    padding: 1px;
    color: white;
  }
}
/*Homepage Answers*/

.homeQuestionFiller{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.homepageStat{
    font-size: 24px;
    text-align: center;
    padding: 5px;
    width: 40%;
}

.answer-stats-box p{
  margin: 0;
}

/* Don't put anything below this! */
.hidden{
  display: none;
}
